[Unit]
Description=NetworkManager Helper for 4GPi
After=dev-tty4GPI.device

[Service]
Type=simple
ExecStart=/usr/sbin/4gpi-dbus-watcher
Restart=always

[Install]
WantedBy=dev-tty4GPI.device

